body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 150vh; /* 1/3 da altura da tela */
}

.container {
    height: 100%; /* 1/3 da altura da tela */
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;

}

.backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0; /* Ajustado para alinhar na parte inferior */
    width: 33.33vw; /* 1/3 da largura da tela */
    object-fit: cover;
    height: 33.33vh; /* 1/3 da altura da tela */
    z-index: -1;
    filter: saturate(0.125);
}

.blackScreen {
    width: 33.33vw; /* 1/3 da largura da tela */
    height: 33.33vh; /* 1/3 da altura da tela */
    position: absolute;
    pointer-events: none;
}

.music-Container {
    width: 85vh;
    padding: 0.7px 0.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.8px;
    box-shadow: 0 0 1px rgba(26,26,26,0.005),
                0 0 2px rgba(26,26,26,0.005),
                0 0 4px rgba(26,26,26,0.005);
    backdrop-filter: blur(0.75px);
    font-weight: 600;
    align-self: center;
}

#songAvatar {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    margin: 15px;
    position: relative;
    cursor: pointer;
    animation: animateAvatar .5s linear infinite;
    align-self: center;
}

.musicControlers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.musicControler {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    color: var(--mainColor);
    border: 2px solid var(--mainColor); /* Adiciona uma borda de 2px */
    border-radius: 50%; /* Torna os botões redondos */
    background-color: transparent; /* Define o fundo como transparente */
    cursor: pointer;
}

.playBtn {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    color: var(--mainColor);
    border: 2px solid var(--mainColor); /* Adiciona uma borda de 2px */
    border-radius: 50%; /* Torna o botão redondo */
    background-color: transparent; /* Define o fundo como transparente */
    cursor: pointer;
}

.musicTimerDiv{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-weight: 600;
}

.musicProgressBar{
    width: 60%;
    margin-bottom: 16px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(20deg);
}

.musicPlayer{
    font-weight: bolder;
    font-size:180%;
    margin-bottom: 30px;
}

.music-Head-Name{
    font-size: 120%;
    margin-top: 10px;
}

.music-Room-Name{
    font-size: 150%;
    font:bold;
    margin: 0%;
    border: 0%;
    padding: auto;
    padding-left:20%;
    padding-right:20%;
    background-color: #d6c978;
}

.music-Artist-Name{
    font-size: 70%;
}

.musics-butons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-music {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    transform: rotate(180deg);
}

.previous-music img{
    width: 40px;
    height: 40px;
}

.next-music{
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.next-music img{
    width: 40px;
    height: 40px;
}

.spotifyTerms{
    display: flex;
    flex-direction:row-reverse;
}