.chat {
    background-color: rgba(229, 229, 203, 1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    border: 0%;
    margin: 0%;
    width: 120%;
    border-radius: 5%;
    height: 95vh;
}

.tittle{
    text-decoration:black;
    font-weight: bold;
    height: auto;

}

.messages{
  height: 85%;
  width: 95%;
  overflow-y: scroll;
  display:block;
  scrollbar-width: auto;          /* "auto" or "thin" */
  scrollbar-color: rgb(255, 255, 255) #d5cea3;   /* scroll thumb and track */
  
}



*::-webkit-scrollbar {
  width: 10px;
  
}


*::-webkit-scrollbar-thumb {
  background-color: #d6c978;
  border-radius: 10px;
}

.group{ 
  display: flex;
  width: 100%;
  border-color: #d5cea3;
  border-radius: 5px;
  background-color: rgb(255 255 255);
  padding: 1%;
  width:95%;
  margin-bottom: 1%;

}

input{
  flex-grow: 2;
  border: none;
  font-size:80%;
}

input:focus {
  outline: none;
}

.send_message {
  display: flex;
  align-items: center;
  justify-content: end;
  background: none;
  border: none;
}
.send_message img {
  width: 25px;
  height: 20px;

}

.group:focus-within { 
  outline: 1px solid #d5cea3;
}


.list {
  margin: 10px;
  text-align: left;
  padding: 0%;
}

.list_me{
  margin: 10px;
  text-align: right;
}

.text_card{
  background-color: #d5cea379;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

.user{
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  border: 0px;
}